pywebview
python-dotenv
requests
requests_toolbelt
tqdm
rich
pymediainfo
parse-torrent-name
numpy
paramiko
keyring
bcrypt
# pywinpty  # Windows uniquement — installer manuellement sur Windows si nécessaire
